  <div class="ui inverted page grid masthead segment">
    <div class="column">
      <div class="ui transition information">
        <div class="ui fade reveal">
          <img class="visible content hatpot" src="/cmwtv.png">
          <img class="hidden content hatpot2" src="/logo.png">
      </div>
        <h1 class="ui inverted header" id="headpot">
          北大附中高中教师评价系统
        </h1>
        <% if current_user&&current_user.pku_id %>
          <div class="large basic inverted animated fade ui button" id="followheadpot">
           <div class="visible content">参与投票</div>
           <a href="/timeline" target="_blank"><div class="hidden content">Now</div></a>
          </div>
        <% elsif session[:cas_user] %>
          <div class="large basic inverted animated fade ui button" id="followheadpot">
           <div class="visible content">参与投票</div>
           <a href="/timeline" target="_blank"><div class="hidden content">Now</div></a>
          </div>
        <% else %>
          <div class="large basic inverted animated fade ui button" id="followheadpot">
           <div class="content">请先注册并完成认证</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
    <script src="/home.js">